body{
    
    background-image: url("pexels-pixabay-531880.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1{
    font-size: large;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(21, 20, 20);
    font-size: xx-large;
    
}
h1:hover{
    text-shadow: 05px 0px 0px rgb(23, 158, 179), 0px 5px 5px rgb(122, 215, 230);
}

form{
    /* font and text*/
    text-align: center;
    text-size-adjust: justify;
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
    color: rgb(25, 26, 26);
    /*background*/
    background: linear-gradient(to right, skyblue,lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;

    /*border*/
    border-style: solid;
    border-width: 10px;
    border-color: rgb(122, 215, 230);
    border-radius: 10px;
    padding: 5px;
    height: 550px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
form:hover{
    background: linear-gradient(to right, skyblue,lightgreen);

}
#reset:hover{
     background-color: rgb(255, 0, 0);
      border: 10;
}
#submit:hover{
    background-color: green;
     border: 10; 
}

button:hover{
    background-color: rgb(45, 77, 236) 
    
}

